.dashboard-nav {
  width: 99.92%;
  position: absolute;
  top: 78px;
  display: flex;
  background-color: rgb(255, 255, 255);

  color: $clr9;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);

  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .user-selles-btn {
      color: rgb(27 212 169);
      background-color: #abaeb600;
      border: none;
      text-decoration: underline;
      font-weight: 500;
      font-size: 16px;
    }

    .options {
      display: flex;
      .opt:hover {
        box-shadow: inset 0px -2px 0px 0px rgb(27 212 169);
      }
      .opt {
        padding: 10px;
        display: flex;
        position: relative;
        cursor: pointer;
        margin-right: 70px;
      }
    }
    @media (max-width: 1000px) {
      .options {
        display: none;
      }
      .user-selles-btn {
        height: 40px;
      }
    }
  }
}

.user-info-container {
  background-color: rgb(245, 245, 245);
  height: fit-content;
  margin-top: 40px;
  font-family: Helvetica, sans-serif;
  // display: block;

  .user-info {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    line-height: 15px;
    min-height: 100vh;
    .user-details {
      font-size: rem(20px);
      border-radius: 2px;
      margin-top: -60px;
      width: 100%;
      height: fit-content;
      padding: 32px;
      text-align: center;
      border: 2px solid rgb(235, 232, 232);
      background-color: rgb(255, 255, 255);
      .stars {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      hr {
        margin-top: 35px;
        border: 1px solid rgb(235, 232, 232);
      }
  
      .user-image {
        width: 100px;
        height: 100px;
        // margin-bottom: 15px;
        border-radius: 50%;
        background-color: rgb(21, 184, 89);
        text-align: center;
      }
      .member-Since {
        color: $clr1;
        font-family: Helvetica, sans-serif;
        font-size: rem(16px);
        display: flex;
        align-items: center;
        margin-top: -5px;
        justify-content: space-between;
        .member {
          display: flex;
          align-items: center;
          svg {
            margin-top: 17px;
            height: rem(20px);
          }
          .since {
            margin-left: 10px;
            margin-bottom: 0;
          }
        }

        .date {
          font-weight: bolder;
          margin-bottom: 0;
        }
      }
    }

    .progress-container {
      font-size: 16px;
      font-family: Helvetica, sans-serif;
      color: $clr5;
      text-align: left;
      line-height: 14px;
      border-radius: 2px;
      margin-top: 30px;
      width: 300px;
      height: fit-content;
      padding: 32px;
      border: 2px solid rgb(235, 232, 232);
      background-color: rgb(255, 255, 255);
      .progress {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 32px;
        span {
          margin: 10px 0;
        }
        .rate {
          margin-top: 0;
        }
      }
      .el-progress--line {
        width: 60px;
      }
      .el-progress-bar__outer {
        width: 50px;
      }
      .el-progress-bar {
        width: 50px;
      }
      .el-progress__text {
        margin-left: -7px;
        margin-bottom: 8px;
        text-align: end;
      }
    }

    .prodress-data {
      .earned {
        margin: 20px 0px;
      }
      span {
        font-weight: 700;
        float: right;
      }
      .response span {
        color: $clr3;
      }
    }

    .orders-container {
      margin-top: -60px;
      width: 75%;

      .sellers-orders-container {
        .manage-orders {
          h1 {
            font-size: 40px;
            font-family: Helvetica, sans-serif;
            line-height: 120%;
            color: #404145;
            margin-top: 0;
          }
          .sellers-orders-table {
            background-color: #fff;
            width: 100%;
            border: 2px solid rgb(235, 232, 232);
            text-align: left;
            .buyer {
              padding-left: 10px;
            }
            .buyer-img{
              margin-left: 10px;
            }
            .table-head {
              color: #abaeb6;
              font-weight: 600;
              border-bottom: 1px solid rgb(228, 229, 231);
              font-size: 12px;
              height: 37px;
              line-height: 33px;
              text-align: left;
              text-transform: uppercase;
              vertical-align: middle;
              white-space: nowrap;
            }
            .row {
              height: 40px;
              color: #535456;
              font-size: 14px;
              font-family: Helvetica, sans-serif;
              td {
                white-space: normal;
                max-width: 300px;
                font-size: 14px;
                line-height: 20px;
                padding: 16px 16px 16px 0;
                color: $clr5;
                border-top: 1px solid #e4e5e7;
                font-size: 14px;
              }
              .buyer-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }
            .statusbtn {
              // padding: 0 10px 0 0;
              .order-status {
                height: 20px;
                padding: 0 4px ;
                margin: 0;
                font-size: 10px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                vertical-align: baseline;
                border-radius: 5px;
                cursor: pointer;
              }
            }
          }
          .pre {
            height: 1000px;
            line-height: 20px;
          }
        }

        .no-orders {
          background-color: rgb(255, 255, 255);
          color: $clr9;
          font-weight: 400;
          font-size: 16px;
          font-family: Helvetica, sans-serif;
          border: 2px solid rgb(235, 232, 232);
          height: rem(38px);

          line-height: rem(38px);
          padding-left: 20px;
        }

        .no-orders-image-container {
          display: flex;
          justify-content: center;
          margin-top: 100px;

          .no-orders-image {
            display: block;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            height: rem(115px);
            width: rem(115px);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: rem(80px);
              width: rem(80px);
            }
          }
          .no-orders-txt {
            width: 100%;
            // margin: auto;
            margin-top: 30px;
            color: #292929;
            font-weight: 600;
            font-size: 1rem;
            font-family: Helvetica, sans-serif;
            text-align: center;
          }
        }
      }

      .order:hover {
        box-shadow: inset 3px 0px 0px 0px rgb(27 212 169);
      }
      .order {
        height: fit-content;
        width: 100%;

        background-color: white;
        border: 2px solid rgb(235, 232, 232);
        margin-bottom: 20px;
        border-radius: 2px;
        padding: 10px;
        align-items: center;
        // .issued {
        //   // text-align: end;
        //   margin-left: 50px;
        //   margin-right: -55px;
        // }

        .order-info {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          // > * {
          //   width: rem(150px);
          // }

          // .imgs-container {
          //   display: flex;
          //   align-items: center;
          .gig-img {
            height: rem(100px);
            width: rem(166px);
            object-fit: cover;

            // margin-right: 30px;
            border-radius: 4px;
          }
          .seller {
            // margin-left: rem(-25px);
            margin-right: rem(25px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: rem(100px);
            // height: 100%;
            // width: 100%;
            .seller-img {
              height: rem(60px);
              width: rem(60px);
              margin: auto;
              border-radius: 50%;

              // margin-bottom: 10px;
            }
            .name {
              font-weight: bolder;
              color: $clr1;
              text-align: center;
              // align-self: center;
              // margin-left: rem(-30px);
            }
          }
          // }
          // .order-detail-info {
          //   display: flex;
          //   width: 100%;
          //   justify-content: space-between;
          //   margin-left: 50px;
          // }

          .title {
            font-size: rem(16px);
            font-family: work-sans;
            color: #abaeb6;
            // margin-left: 30px;
          }

          .info {
            // margin-left: 30px;
            font-size: rem(16px);
            font-family: work-sans;
          }
        }

        .status-container {
          hr {
            height: 1px;
            background-color: rgb(235, 232, 232);
            border: none;
          }
          .status {
            font-family: work-sans;
            font-size: rem(14px);
            line-height: 5px;

            .status-title {
              color: #abaeb6;
              margin: 0;
              padding: 5px;
            }
            .status-info {
              margin: 0;
              padding: 5px;
            }
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .user-info-container {
    display: block;

    .user-info {
      display: block;
      .user-details {
        display: none;
      }

      .orders-container {
        width: 100%;
      }
      .issued {
        margin: 0;
        .info {
          margin-left: -7px;
        }
      }
      .name {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      .seller {
        // margin-left: rem(25px);

        .seller-img {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .user-info-container {
    .user-info {
      .name {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
      }
      .orders-container {
        width: 100%;
        .order {
          .order-info {
            .gig-img {
              width: 100%;
              height: auto;

              grid-area: gig-img;
            }
            display: grid;
            width: 100%;
            font-size: 10px;
            padding-top: 15px;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 70% 30%;
            grid-template-areas:
              'gig-img gig-img gig-img gig-img'
              'seller price-info days-info issued';
          }
          .seller {
            grid-area: seller;
            display: block;
            width: 50px;
            margin-left: 0;
            margin-right: 0;

            .seller-img {
              margin-left: 0;
              margin-right: 0;
              height: 2.5rem;
              width: 2.5rem;
            }
          }
          .price-info {
            grid-area: price-info;
            width: 40px;
            .info {
              font-size: 12px;
            }
            .title {
              font-size: 12px;
            }
          }
          .issued {
            grid-area: issued;
            width: 100px;
            margin-left: 0px;
            .info {
              font-size: 12px;
              margin-left: 0px;
            }
            .title {
              font-size: 12px;
              text-align: left;
            }
          }
          .days-info {
            grid-area: days-info;
            width: 110px;
            margin-left: -25px;
            .info {
              font-size: 12px;
            }
            .title {
              font-size: 12px;
            }
          }
          .status-container {
            hr {
              margin-top: 10px;
            }
            .status {
              h1 {
                margin: 0;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

.oreng {
  background-color: #ffbe5b;
}
.green {
  background-color: $clr3;
}
.blue {
  background-color: rgb(61, 61, 196);
}
