@media (max-width: 800px) {
  .heroDeats {
    background-color: #003621;
    height: 60vh;

    .heroes {
      display: none;
    }
  }
}

@keyframes example1 {
  0% {
    opacity: 1;
  }
}

.heroDeats {
  width: 100%;
  height: 100%;
  position: relative;
  top: -80px;
  .heroes {
    // animation-name: example1;
    // animation-duration: 2s;

    .home-hero-img {
      position: relative;
      float: right;
      transition: all 0.9s ease;
    }
    .hero-detail-container {
      position: absolute;
      right: rem(245px);
      bottom: rem(50px);
      z-index: 10;
      width: auto;
      float: right;
      color: white;
      font-weight: 700;
      font-size: rem(16px);
      line-height: rem(5px);
      font-family: Helvetica, sans-serif;
      transition: all 0.9s ease;
      .star {
        font-size: 16px;
        color: #ffbe5b;
        font-weight: 700;
        letter-spacing: 5px;
      }
    }
  }
}

.displayHeroDeats {
  opacity: 1;
  display: block;
}
.displayHeroDeats {
  opacity: 0;
  display: none;
}

.home-page {
  position: absolute;
  top: 200px;

  font-family: Helvetica, sans-serif;
  h1 {
    font-size: rem(48px);
    line-height: rem(16px);
    color: #fff;

    span {
      font-family: 'DomaineDisplay';
    }
  }
  .search-input {
    margin-top: rem(52px);
    display: flex;
    align-items: center;
    // background-color: #816d7d;
    // padding: 2px;
    border-radius: rem(5px);
    height: rem(47px);
    .search {
      height: 100%;
      // margin: 10px;
      align-self: center;
      text-align: center;
      // line-height: 47px;
      padding: rem(14px);
      background-color: rgb(255, 255, 255);
      color: #62646a;
      border-radius: rem(5px) 0 0 rem(5px);
      border: none;
    }
    .input {
      height: 100%;
      border: none;
      width: rem(526px);
      border: none;
      border-radius: 0;
      font-size: rem(20px);
      color: #62646a;
    }
    .input:focus {
      border: none;
    }
    .button {
      height: 100%;
      width: rem(110px);
      color: #fff;
      font-size: 20px;
      background-color: #1daf6b;
      border-radius: 0 rem(5px) rem(5px) 0;
      border: none;
      cursor: pointer;
    }
  }
  .popular-searches {
    color: #fff;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 600;
    button {
      background-color: #1daf6b00;
      color: #fff;
      border: 1.5px solid white;
      border-radius: 15px;
      padding: 5px 10px 5px 10px;
      margin-left: 10px;
      font-weight: 600;
    }
    button:hover {
      color: #62646a;
      background-color: #fff;
    }
  }
}

.media {
  margin: 0px;
  width: 100%;
  background-color: #f9f6f6e7;
  display: flex;
  justify-content: center;
  height: rem(100px);
  position: relative;
  top: -85px;
  .imgs {
    display: flex;
    align-items: center;
    .trusted {
      width: rem(150px);
      // padding: 10px;
      // margin-right: 10px;
      font-family: Helvetica, sans-serif;
      color: #c8cbd2;
    }

    img {
      width: rem(100px);
      padding: rem(10px);
      margin-right: rem(20px);
    }
  }
}

.gallery-title {
  font-family: Helvetica, sans-serif;
}

.intro {
  background-color: #e7f6ef;
  .list-img-container {
    position: relative;
    display: flex;

    font-family: Helvetica, sans-serif;
    margin-top: rem(100px);
  }

  .check-list {
    margin-top: rem(70px);
    width: 50%;
    padding-right: rem(80px);

    h2 {
      color: #404145;
      font-weight: 700;
      font-size: rem(30px);
      line-height: rem(40px);
      svg {
        color: #62646a;
      }
    }
    h6 {
      color: #404145;
      font-size: rem(18px);
      line-height: rem(15px);
    }
    p {
      color: #62646a;
    }
  }

  .img-container {
    position: relative;
    right: 0;
    display: flex;
    justify-self: end;
    width: 50%;
    height: auto;
    border: 0;

    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }

    .play {
      font-size: rem(55px);
      line-height: rem(65px);
      color: #fff;
      z-index: 3;
      text-align: center;

      i {
        text-shadow: 2px 2px black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -50%);
      }
    }
  }

  .vid {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    z-index: 4;
    border-radius: 4px;
  }
  .greyBg {
    background-color: #000000b2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.founders {
  margin-top: rem(100px);
  display: flex;
  align-items: center;
  // background-color: #816d7d;
  // padding: 2px;
  border-radius: rem(5px);
  height: rem(47px);
  .search {
    height: 100%;
    // margin: 10px;
    align-self: center;
    text-align: center;
    // line-height: 47px;
    padding: rem(14px);
    background-color: rgb(255, 255, 255);
    color: #62646a;
    border-radius: rem(5px) 0 0 rem(5px);
    border: none;
  }
  .input {
    height: 100%;
    border: none;
    width: rem(526px);
    border: none;
    border-radius: 0;
    font-size: rem(20px);
    color: #62646a;
  }
  .input:focus {
    border: none;
  }
  .button {
    height: 100%;
    width: rem(110px);
    color: #fff;
    font-size: 20px;
    background-color: #1daf6b;
    border-radius: 0 rem(5px) rem(5px) 0;
    border: none;
    cursor: pointer;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  // display: flex;
  font-family: Helvetica, sans-serif;
  color: #fff;
  justify-content: space-between;

  .option {
    border-radius: 4px;
    // margin-right: rem(20px);
    // width: 100%;
    // min-width: rem(245px);
    height: rem(355px);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    // margin-left: 10px;
    // transition: opacity .3s ease-in-out;
  }
  .option p {
    padding-top: rem(20px);
    margin-left: rem(20px);
  }
  .option h1 {
    margin-left: rem(20px);
    line-height: 5px;
  }
  .option.logo {
    background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png');
  }
  .option.wordPress {
    background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/ae11e2d45410b0eded7fba0e46b09dbd-1598561917003/wordpress-2x.png');
  }
  .option.voice-over {
    background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741669/voiceover-2x.png');
  }
  .option.video {
    background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741663/animated-explainer-2x.png');
  }
  .option.programming {
    background-image: url('https://fiverr-res.cloudinary.com/image/upload/w_600/f_auto,q_auto/v1/attachments/generic_asset/asset/767bc10a0c44b0a67be1a94aea270205-1609336032121/website%20development-min.jpg');
  }
  .option.illustration {
    background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741664/illustration-2x.png');
  }
  button {
    height: rem(50px);
    width: rem(50px);
    border-radius: 50%;
    // position: relative;
    align-self: center;
    border: none;
    background-color: #ffffff;
    z-index: 90;
    position: absolute;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: rem(16px);
    line-height: 100%;
    cursor: pointer;
  }
  .btn-left {
    left: rem(255px);
  }
  .btn-right {
    right: rem(255px);
  }
}
