.hh{
    font-size: 24px;
}
//ORDER-BOX
.order-container {
    margin-top: 60px;
    width: rem(1304px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Helvetica, sans-serif;
    

    .order-box {
        padding: 1em 1.5rem;
        width: fit-content;        
       .head{
            margin-top: 0;
       }
        img {
            width: 150px;
            height: 100px;
            margin-top: -5px;
        }
        .seller-detaile{
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items:flex-start;
            gap: 20px;
            padding-top: 0px;
            margin-top: 0%;
           
            h3{
                height: fit-content;
                margin-top: 0px;
                width: 350px;
            }
            h4{
                height: fit-content;
                margin-top: 0px;
                padding-top: 0.5%;
                color: $clr2;
            }
        
        }

         
        .order-details-container {
             
            ul{
                padding:10px;
                li {
                    // margin: 20px;
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    font-family: Helvetica, sans-serif;
                }
            } 
        }
    }
}


// CHECKOUT-BOX

.chckout-box{
    width: rem(413px);
    height: fit-content;
    display:flex;
    flex-direction: column;
    position: sticky;
    border: 1px solid #e4e5e7;
    border-radius: 5px;
    gap:20px;
    padding: 2em 1.5rem;
    color: $clr5;

    h1{
        margin: 0;
        padding-bottom: 20px;
    }
    .thicker{
        font-weight: bold;
    }
    ul {
        
        li{
            
            padding: 10px 0;
            display: flex;
            justify-content:space-between;
            span {
                display: flex;
                justify-content: flex-end;
    
            }
        }

    }
    
   

    
}

hr {
    width: 100%;
    border: 0.1px solid rgb(218, 219, 221);
    // border-color: #e4e5e7;
}