
    
    .filter-container{
        display: flex;
        height: rem(42px);
        align-items: center;
        border-radius: rem(5px);
        width:100%;
        
        

    
        .filter-input{
            align-self: center;
            text-align: left;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(172, 172, 172, 0.865);
            height: 100%;
            width: 100%;
            border-radius: rem(5px) 0 0  rem(5px);
            border: none;
                                                                     
            font-size: 17px;
            font-weight:100;
            font-family:sans-serif;
            letter-spacing: 1px;
            color: $clr2;
            
            &:focus{
                border: none
            }
            

.el-input__wrapper{
    border: 1px solid rgb(212, 208, 208);
    border-radius:  4px 0 0  4px  ;
    width: 100%;
    
}
        } 
        .filter-search-btn{
            
            width: em(50px);
            height: 100%;
            background: #151616;
            color:$clr4;
            font-size: 17px;
            border: none;
            border-radius: 0  rem(5px) rem(5px) 0 ;
            text-align: center;
            
        }
    }




