.mini-filter{
    margin-bottom: 20px;
}

.budgetbtn{
    width: 102px;
    height: 36px;
    justify-content: space-between;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    padding: 6px 12px;

    svg{
        margin-left: 12px;
    }
}

.deliverybtn{
    width: 155px;
}

.budgetInputs{
    padding: 16px 12px;
    padding-top: 0;
    margin: 0;
}
.el-form--inline .el-form-item{
    margin: 5px;
}
.el-form-item{
    margin: 0;
}

.inputt{
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    font-size: 12px;
    color: $clr8;
    input{
        border: 1px solid #dadbdd;
        border-radius: 5px;
        padding: 8px 12px;
        width: 120px;
        height: 40px;
    }
    i{
        font-size: larger;
        color: #b5b6ba;
        font-style: normal;
        position: absolute;
        z-index: 1;
        top: 37px;
        right: 18px;
    }
}

.el-radio-group{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 0;
    font-weight: 600;
    cursor: pointer;
    margin-right: 60px;
    margin-left: 15px;
}

.el-radio__label{
    font-weight: bolder;
}

.el-radio{
    align-items:center;
    color: #404145;
    display: inline-flex;
}
