.dropdown-cont {
  display: flex;
  justify-content: flex-end;
}

.user-dropdown {
  position: absolute;
  // right: 6%;
  top: 75px;

  background-color: #ffffff;
  z-index: 80;
  width: 150px;
  border: 1px solid #b9bac1;
  border-radius: 1%;
  padding: 10px 20px 10px 20px;
  .modal-opt {
    z-index: 30;
  }
  .triangle {
    color: #ffffff;
    // border: 1px solid #eeeff5;
    z-index: 20;
    font-size: 40px;
    position: absolute;
    top: -23px;
    // top: -29px;
    right: 3px;
    text-shadow: 0px -1px 1px #a09b9b;
  }

  h1 {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    color: #8f9093;
    font-weight: bold;
  }
  h1:hover {
    cursor: pointer;
    color: #50b957;
  }

  .dropdown-hr {
    width: 100%;
    color: #eeeff5;
  }
}

.user-image-header {
  cursor: pointer;
  border-radius: 50%;
  color: white;
  height: 40px;
  width: 40px;
}

.top-header {
  height: rem(81px);
  display: block;
  align-items: center;

  @media (max-width: 950px) {
    .app-filter,
    .seller,
    .signIn,
    .explore {
      display: none;
    }
    .header-container {
      display: flex;
      justify-content: space-between;
      .header-row-container {
        width: 10%;

        // .main-logo-container {
        .main-logo-container {
          margin-right: 0;
          text-align: center;
          align-self: center;
          .main-logo {
            width: 100%;
            transform: translate(-20%, 0);
          }
        }
        // }
      }
    }
    .header-row-container {
      width: 100%;
    }
  }
  .header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // z-index: 5;
    color: $clr9;
    .menu-toggle {
      display: none;
      background-color: #ffffff00;
      border: none;
      font-size: rem(25px);
      color: #616264;
      font-weight: 100;
    }
    @media (max-width: 950px) {
      .menu-toggle {
        display: block;
      }
    }
  }
  .header-row-container {
    display: flex;
    align-items: center;
    width: 60%;

    .main-logo-container {
      align-items: center;
      display: flex;
      align-self: center;
      font-family: Helvetica, sans-serif;

      font-size: 1.5em;
      margin-right: 100px;

      .main-logo {
        // color: black;
        align-self: center;
        margin-bottom: 45px;
        letter-spacing: -3.5px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .while-text h1 {
        color: #ffffff;
      }
      .black-text h1 {
        color: #2f3032;
      }

      span {
        font-size: 1.5em;
        color: $clr3;
        font-family: 'Times New Roman', Times, serif;
      }
    }
  }
  .top-header-nav-bar-container {
    display: flex;
    align-items: center;
    // width: 40%;
    .nav-bar {
      display: flex;
      align-items: center;
      list-style-type: none;
      .move {
        margin-right: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 600;
      }
      .while-text a {
        color: #ffffff;
      }
      .black-text a {
        color: #2f3032;
      }
    }
  }
}
