.top-header{
    height: rem(81px);
    display: block;
    align-items: center;
    .header-container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 5;
        color: #74767E;

    }
    .header-row-container{
        display: flex;
        align-items: center;
        width: 50%;
        .main-logo-container{
            align-items: center;
            display: flex;
            align-self: center;
            font-family: Helvetica, sans-serif;
            // font-weight: 900;
            font-size: 1.5em;
            margin-right: 100px;
            // color: black;
            // letter-spacing: -2.6px;
            // //  margin-top:1rem;
            .main-logo{
                color: black;
                align-self: center;
                margin-bottom: 45px;
                letter-spacing: -4.6px;
                font-family: Arial, Helvetica, sans-serif;
            }
                              
            span{
            font-size: 1.5em;
            color: $clr3;
            font-family:'Times New Roman', Times, serif;           
            }

        }
    }
    .top-header-nav-bar-container{
        display: flex;
        align-items: center;
        .nav-bar{
            display: flex;
            align-items: center;
            list-style-type: none;
            .move{
                margin-right:40px ;
                font-family: Arial, Helvetica, sans-serif;
               
                         
                font-size: 1.1rem;
                a{
                    color: black;
                }
            }
           
        }
    }

}



