header.top-header{
    width: 100%;
    height: rem(81px);
    text-align: center;
    
    // border-bottom: 1px solid black;
    .header-row-container {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content:center;
        align-items: center;
        gap: em(40px);
        position: relative;
        
    
        .main-logo-container{
            position: relative;
            width: fit-content;
            height: 5rem;
            text-align: left;
            display: flex;
            align-items: center;
            gap: em(10px);
            
            .main-logo{
                font-family: Helvetica, sans-serif;
                font-weight: 900;
                font-size: 2em;
                color: black;
                letter-spacing: -2.6px;
                margin-top:1rem;
                
            
                span{
                    font-size: 1.5em;
                    color: $clr3;
                    font-family:'Times New Roman', Times, serif;
                
                }
                h1{
                    height: fit-content;
                }
            }
            .menu-toggle {
                display: none;
                border: none;
                text-align: left;
                background-color: rgba(255, 255, 255, 0);
                height: 100%;
                font-size: 26px;
                margin-top: 3%;
                @include for-larg-layout {
                    display: block;
        
              }
           }
         
        }
         
    }




    .top-header-nav-bar-container{
        display: flex;
        width: fit-content;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        
        // @include for-normal-header-layout {

        // }




        ul {
        //  display: none;
         display: flex;
         position: relative;
         align-items: center;
         justify-content: space-between;
         gap: em(24px);
         margin: 0;
         width: fit-content;

         li a{
            display: flex;
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            color: $clr2;
            font-size: 1.1rem;
            width: fit-content
           
            
        }
        @include for-medium-layout{
            .move{
                display: none;
            }
        }
    }



    }
    .main-logo-container{
        width: 150px;
        height: 120px;
    


}
.header-line {
    width: 100%;
   
}
}






