button{
  &:hover{
      cursor: pointer;
  }
}

.join-btn{
  width: 62.55px;
  height:36px ;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 2px solid $clr5;
  color: $clr5;
  &:hover{
      background-color:$clr5 ;
      color: $clr4;
  }

  
}


.checkout-btn {
    align-self: center;
    width: 100%;
    height:39px;
    background-color: $clr5;
    border: none;
    border-radius: 5px;
    color: $clr4;
    
    &:hover{
      filter: brightness(110%);  
      &:active{
        filter: brightness(85%);
      }
    }
    
}

