button{
  &:hover{
      cursor: pointer;
  }
}

.join-btn{
  width: 62.55px;
  height:36px ;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 2px solid $clr3;
  color: $clr3;
  &:hover{
      background-color:$clr3 ;
      color: $clr4;
  }

  
}

.side-btn {
  width: 100%;
  height: rem(42px);
  font-size: 16px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  background-color: $clr3;
  color: white;
  border: 2px solid white;
  border-radius: 5px;

  &:hover{
    background-color: #1cad69;
  }
}

.clearbtn{
  font-family:Helvetica, sans-serif;
  color: $clr8;
  font-size: 14px;
  font-weight: bold;
  border-color: transparent;
  margin-right: 100px;
  &:hover{
    border-color: transparent;
    color: $clr3;
    background-color: transparent;
  }
}
.cb2{
  margin-right: 55px;
}
.apllybtn{
  font-size: 16px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  background-color: $clr3;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  
  &:hover{
    color: white;
    border: 2px solid white;
    background-color: $clr3;
  } 
}

.ab2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.el-button:focus{
  background-color: transparent;
  color: #222325;
  border: 1px solid #dadbdd;
}

.el-button:active{
  color: $clr3;
  background-color: #e8faf4;
  border: 1px solid $clr3;
}

.budgetbtn{
  background-color: transparent;
  font-weight: 600;
  color: #222325;
  min-width: 50px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dadbdd;
  
  &:hover{
    border: 1px solid #dadbdd;
    background-color: transparent;
    color: #222325;
    
  }

  &::after{
    background-color: #1cad69;
  }
}