@font-face {
    font-family:  Helvetica, sans-serif;
    src: url('/src/assets/fonts/Helvetica-NeueIt.otf');
}

@font-face {
    font-family: work-sans;
    src: url('/src/styles/font/work-sans.regular.ttf');
}

@font-face {
    font-family: DomaineDisplay;
    src: url('/src/styles/font/Domaine.ttf');
}

// Main logo
// @font-face {
//     font-family:  Helvetica, sans-serif;
//     src: url('/src/assets/fonts/Helvetica-NeueIt.otf');
// }