// COLOR PALETTE
$clr1: #404145; //כותרות
$clr2:  #91949b;
$clr3: #1dbf73;
$clr4: rgb(251, 245, 245);
$clr5: #62646a;
$clr6: #7f8182a3;
$clr8:#95979d;


$marginLayout: rem(150px);

// $clr4:  #fff; // root app color
// $clr7: darken($clr3, 40%);

// borders 
$borders1: 0.5px solid #bfc1c1cd;
$borders2: 0.5px solid #d7d9dac9;

// LAYOUT
$mainLayoutPadding: rem(249px);

$relativePadding: 1rem 1rem;

// LAYOUT BREAKPOINTS

// Header Breakpoints 
$break-small: 600px;
$break-medium: 900px;
$break-larg: 1100px;
